body {
	font-family: sans-serif;
	background-color: grey;
}

#container {
	width: 100%;
	height: 100%;
}

#shoutbox {
	width: 30%;
	height: 40%;
	min-height: 300px;
	min-width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	border: 1px solid black;
	border-radius: 10%;
	background-color: white;
}

#shoutbox > #shoutbox-in {
	margin-top: 10%;
}

#shoutbox > * {
	text-align: center;
}

#tintlogo {
	font-size: 84px;
}

#ghbutton {
	width: 300px;
	height: 100px;
	background-color: green;
	border: 1px solid black;
	border-radius: 10px;
	display:block;
	margin-left: auto;
	margin-right: auto;
}

#ghbuttonlink {
	color:white;
	text-decoration: none;
}

#connecttext {
}
#connecttext > div {
	margin-left: 30px;
	margin-top: -40px;
	font-size: 25px;
	display: block;
}
#connecttext > img {
	margin-left:20px;
	margin-top: 25px;
	display: block;
}
