<!doctype html>
<head>
	<title>About</title>
	<link rel=stylesheet href="{{ url_for('static', filename='css/home.css') }}" type=text/css />
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="{{ url_for('static', filename='js/home.js') }}"></script>
</head>
<body>
	<div id="container">
		<h1>About Tint</h1>
		<!-- TODO add information about app -->
		<p>Aenean dolor mauris, posuere sed eleifend a, luctus id turpis. Nunc finibus justo non sapien auctor gravida. Mauris in felis nisi. Sed ac purus lobortis, bibendum ligula sed, suscipit purus. Praesent leo metus, volutpat eu mattis in, dapibus id justo. Pellentesque auctor quam id orci hendrerit posuere. In vel augue vestibulum, consequat erat eu, dignissim erat. Vivamus molestie, lectus id scelerisque tempus, ante eros interdum mauris, vitae molestie nulla nulla eget justo. Ut vel magna nulla. Integer ligula nisl, viverra quis ipsum quis, ornare placerat ipsum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam semper pharetra dolor. Morbi tristique nulla augue, at porta mi pulvinar id.</p>
		<h3>Team</h3>
		<!-- TODO add team names, images, roles, integrate with Gravatar or Linkedin -->
		<ul>
			<li>Member 1</li>
			<li>Member 2</li>
			<li>Member 3</li>
		</ul>
		<br>
		<a href="/">Back</a>
	</div>
</body>
