<!doctype html>
<head>
	<title>About</title>
	<link rel=stylesheet href="{{ url_for('static', filename='css/home.css') }}" type=text/css />
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="{{ url_for('static', filename='js/home.js') }}"></script>
</head>
<body>
	<div id="container">
		<h1>About Tint</h1>
		<p>Tint is an application that automagically creates issues based on your <code>TODO:</code> comments, and automatically closes the issue when the comment is deleted.</p>
		<h3>Team</h3>
		<!-- TODO add images, roles, integrate with Gravatar or Linkedin -->
		<ul>
			<li>Josh Hofing</li>
			<li>Mitchell Gouzenko</li>
			<li>Zane Sterling</li>
		</ul>
		<br>
		<a href="/">Back</a>
	</div>
</body>
