<!doctype html>
<head>
	<title>Tint</title>
	<link rel=stylesheet href="{{ url_for('static', filename='css/home.css') }}" type=text/css />
	<div id="username" style='display: none;'>{{ d['username'] }}</div>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="{{ url_for('static', filename='js/home.js') }}"></script>
	{% if session["klingon"] %}
	{% include "klingoninclude.html" %}
	{% endif %}
</head>
<body>
	<div id=container>
	<h3>Hey {{ d['username'] }},</h3>
	<p>Just click the repos you'd like to Tint!</p>

	<p>We'll be automatically doing two things to those repos:</p>

	<ol>
			<li>We'll add a Webhook to notify Tint whenever anything is pushed to the repo.</li>
			<li>We'll add <a href=http://github.com/tintapplication>@tintapplication</a> as a collaborator to the repo. He'll create and close issues as you create and delete <code>TODO:</code> lines.</li>
	</ol>

	<ul id=repolist>
		{% for repo in d['repos'] %}
		<li class="repo"><span class=reponame>{{ repo['full_name'] }}</span></li>
		{% endfor %}
	</ul>

	{% if min_page < page_num %}
		<a href='/?page={{ page_num - 1 }}'>prev</a>
	{% endif %}
	<span class="page-counter">{{ page_num }}</span>
	{% if page_num < max_page %}
		<a href='/?page={{ page_num + 1 }}'>next</a>
	{% endif %}
	<br>

	<a href='/logout'>Log Out</a>
	</div>
</body>
